:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --bgMoreSoft: #273759;
  --text: white;
  --textSoft: #b7bac1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text);
  caret-color: var(--text);
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  height: 100%;
  width: 100vw;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  padding: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

input {
  border-radius: 7px;
  background-color: var(--bgSoft);
  padding: 5px;
  width: 200px;
  border: solid;
  border-color: white;
  border-width: 1px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--bgSoft);
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--bgMoreSoft);
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.logout-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ff0000;
  transition: background-color 0.3s;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #a70000;
}
