<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container-login">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <input class="input_text" type="text" id="username" name="username" required><br><br>
        <input class="input_text" type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
